<header>

    <div class="blog-title-container">
        <h1 class="title">muse</h1>
        <span class="flavor-text">A repository of Venket's reflections, discoveries, and experiments.</span>
    </div>

    <div class="social-container">
        <ul class="social-links">
            <li class="social-link linkedin">
                <a href="https://www.linkedin.com/in/venketaramr" target="_blank">
                    <i class="fa fa-linkedin-square fa-3x"></i>
                </a>
            </li>
            <li class="social-link email">
                <a href="mailto:v.ram28@gmail.com">
                    <i class="fa fa-envelope-square fa-3x"></i>
                </a>
            </li>
            <li class="social-link github">
                <a href="https://github.com/v-ramachandran" target="_blank">
                    <i class="fa fa-github fa-3x"></i>
                </a>
            </li>
        </ul>
    </div>

    <nav class="navigation-container">
        <ul class="navigation-links">
            <li class="navigation-link">
                <a href="#">
                    <span class="name"> posts </span>
                </a>
            </li>
            <li class="navigation-link">
                <a href="#">
                    <span class="name"> categories </span>
                </a>
            </li>
            <li class="navigation-link">
                <a href="#">
                    <span class="name"> about me </span>
                </a>
            </li>
        </ul>
    </nav>
</header>
